input/*.mp4
output/*.mp4

**/*.h5
**/__pycache__/
.idea/
**/*.cprof
cv2
glob
lib/tf_od_api/models
dataset/
ssd_*
faster_*
*.tar.gz
**/.ipynb_checkpoints/

test/aug/output/
test/aug/output_b/

models/
training/
base-dataset/

tests/

notebooks/dataset-generation/dtd/
notebooks/dataset-generation/data/cards
notebooks/dataset-generation/data/scenes
notebooks/dataset-generation/data/backgrounds.pck
notebooks/dataset-generation/data/cards.pck


output.txt
