input/*.mp4
output/*.mp4

**/*.h5
**/__pycache__/
.idea/
**/*.cprof
cv2
glob
**/.ipynb_checkpoints/

lib/tf_od_api/models/
dataset/
test/aug/output/
test/aug/output_b/

models/
training/
base-dataset/

tests/

logs/

notebooks/dataset-generation/dtd/
notebooks/dataset-generation/data/cards
notebooks/dataset-generation/data/scenes
notebooks/dataset-generation/data/backgrounds.pck
notebooks/dataset-generation/data/cards.pck
notebooks/dataset-generation/test/2c/

notebooks/yolo/darknet/
notebooks/yolo/darknet53.conv.74


output.txt
