**/*.mp4
**/*.h5
**/*.mp4.crdownload
**/__pycache__/
.idea/
**/*.cprof
cv2
glob
lib/tf_od_api/models
dataset/
ssd_*
faster_*
*.tar.gz
**/.ipynb_checkpoints/
test/aug/output/
test/aug/output_b/
models/
training/
base-dataset/
logs/
tests/
